
@import 'bourbon/bourbon';
@import 'neat/neat';


body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.zero {
  @include outer-container;
    .alpha {
      @include span-columns(6);
    .beta {
      @include span-columns(6);
    }
    }
}